#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_CXXFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/deepin-scanlib/usr/bin/
	cp $(CURDIR)/deepin-scanlib $(CURDIR)/debian/deepin-scanlib/usr/bin/
	chmod +x $(CURDIR)/debian/deepin-scanlib/usr/bin/deepin-scanlib

override_dh_auto_test:
